<div class="center jumbotron">
    <% if user_signed_in? %>
    <h1>¡Hola <%= current_user.last_name %>! -
      <%= link_to "Sign_out", destroy_user_session_path, method: :delete %>
    </h1>

<% else %>
  <%= yield %>
    <h1>Bienvenido a EducarChile App</h1>
    <h2>
      Acá podrás investigar sobre metodologías de innovacion en educacion, y  aplicarlas en tus proyectos
    </h2>
    <%= link_to "Crear una cuenta", '#', class: "btn btn-lg btn-custom" %>
  </div>
  <% end %>
