<h1>Editing Project Communication</h1>

<%= render 'form', project_communication: @project_communication %>

<%= link_to 'Show', @project_communication %> |
<%= link_to 'Back', project_communications_path %>
