<div> <strong> <center> Etapa 3 de 5: Planificar  </center></strong> </div>
</br>
<%= progress_bar 0.6, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>

<h1>Planificar</h1>

<%= render 'form', project_planification: @project_planification %>
