<div> <strong> <center> Etapa 5 de 5: Evaluar  </center></strong> </div>
</br>
<%= progress_bar 1, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>


<h1>Evaluar</h1>

<%= render 'form', project_review: @project_review %>

<%= link_to 'Back', project_reviews_path %>
