<p id="notice"><%= notice %></p>

<h1>Methodologies</h1>

   
    <% @methodologies.each do |methodology| %>
      

      <div class="card col-md-6 text-center">
      <div class="classWithPad "  onclick="location.href='<%= methodology.link %>'"  >
        <div class="card-header">
          <h4><%= methodology.name %></h4>
        </div>

        <div class="card-block">
          <p><%= methodology.description %></p>
        </div>
      </div>
      </div>
      <br>
      
    <% end %>
