<h1>Editing Project Implementation</h1>

<%= render 'form', project_implementation: @project_implementation %>

<%= link_to 'Show', project_project_implementation_path %> |
<%= link_to 'Back', project_project_implementations_path %>
