<div> <strong> <center> Etapa 4 de 5: Implementar </center></strong> </div>
</br>
<%= progress_bar 0.80, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>


<h1>Implementar</h1>

<%= render 'form', project_implementation: @project_implementation %>

<%= link_to 'Back', project_project_implementations_path %>
